!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Boru Design | User Experience and UI Design Professional Brian Cleveland"
      %meta{:content => content_for?(:description) ? yield(:description) : "Boru Design: User Experience and UI Design Professional Brian Cleveland", :name => "description"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    %header.navbar.navbar-fixed-top.hidden
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .row
          .span12
            = render 'layouts/messages'
      = yield
      %footer
        .content.dark.noheight
          .hd
          .container
            .row
              .span12
                %p.disclaimer.center This site is still being worked on. New content, social engagement, performance, and browser compliance are works in progress.
                %p.center
                  %small.copyright Boru Design, llc. & Brian Cleveland
      = render 'shared/modal'